.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

/* Navbar */
.navbar {
    background-color: #1A0B2E;


}

body {
    max-width: 1600px;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.gradiant {
    font-size: 2rem;
    color: #FFFFFF;
}

.k {
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    color: transparent;
}

.links li a {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 120%;
    font-weight: 500;
}

.hamburger {
    display: none;
}

.btn-1 {
    padding: 12px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 1000px;
    background-image: linear-gradient(to top right, #f7e83f, #fb09b2b7, #9100F8);
    margin-top: 24px;
    margin-bottom: 24px;

}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* banner  */

.banner {
    background: url(../assets/hero-bg.png), url(../assets/hero-circle.png), url(../assets/microphone.png);
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 622px;

    /* align-items: center; */
}

.img-container {
    margin-top: 101px;
}

.banner-heading {
    font-size: 3.95rem;
    font-weight: bolder;
    color: #FFFFFF;
}

.banner-title {
    color: #ffffffc7;
    /* margin-bottom: 24px; */

}

.btn-2 {
    padding: 12.5px 20px;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
    border-radius: 10000px;
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
}

.btn-3 {
    border-radius: 10000px;
    border: 1px solid #00FF88;
    padding: 12px;
    color: #00FF88;
    padding-left: 48px;
    background-color: #1A0B2E;
}

.btn-container {
    margin: 24px 0px 101px 0px;
}

/* About section */
.about {
    background-color: #1A0B2E;
    box-sizing: border-box;
}

.about-container {
    display: flex;
    flex-direction: column;
    /* padding-left: 200px; */
    justify-content: center;
    align-items: center;
}

.about-heading {
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: bold;
}

.about-title p {
    line-height: 20px;
    color: #FFFFFF;

    margin-bottom: 16px;
}

.about-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-info {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-heading {
    font-size: 3rem;
    color: #00FF88;
    font-weight: bold;
}

.card-info p {
    line-height: 20px;
    color: #ffffffaf;
}

.about-title hr {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #ffffff56;
}

/* Card-section */
.box-container {
    /* margin: 120px 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-heading {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 40PX;
    padding-top: 120PX;
}

.card-heading {
    font-size: 1.50rem;
    font-weight: bold;
    color: #00FF88;
    padding: 16px;
}

.card-title {
    line-height: 24px;
    color: #FFFFFF;
}

.box {
    background-color: #230E3D;
}



.box-1 {

    /* border: 1px solid navajowhite; */
    grid-area: box-1;
    padding: 40px;

    border-radius: 40px;
    background-color: #351165;
    box-shadow: 0px 4px 4px 0px;

}


.box-2 {
    /* border: 2px solid greenyellow; */
    grid-area: box-2;
    padding: 40px;
    border-radius: 40px;
    background-color: #351165;
    box-shadow: 0px 4px 4px 0px;
}

.box-3 {
    /* border: 2px solid greenyellow; */
    grid-area: box-3;
    padding: 40px;
    border-radius: 40px;
    background-color: #351165;
    box-shadow: 0px 4px 4px 0px;
}

.box-4 {
    /* border: 2px solid greenyellow; */
    grid-area: box-4;
    padding: 40px;

    border-radius: 40px;
    background-color: #351165;
    box-shadow: 0px 4px 4px 0px;
}

.box-5 {
    /* border: 2px solid greenyellow; */
    grid-area: box-5;
    padding: 40px;

    border-radius: 40px;
    background-color: #351165;
    box-shadow: 0px 4px 4px 0px;
}

.box-info {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 120px;
    gap: 15px;
    display: grid;
    grid-template-areas:
        "box-1 box-2 box-2"
        "box-1 box-3 box-3"
        "box-4 box-4 box-5"
    ;
}

/* Video-section */
.video {
    background-color: #1A0B2E;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    /* margin-bottom: 120px; */
}

.info-container {
    display: flex;
    gap: 30px;
}

.video-heading {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 40px;

}

.video-info {
    border-radius: 50px;
    /* border: 2px solid red; */
    box-shadow: 0 4px 4px 0;
    background-color: #250D44;
    margin-bottom: 120px;
}

.iframe {
    border-start-start-radius: 20px;
    border-top-right-radius: 20px;
}

.video-h {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px;
}

.video-title {
    line-height: 24px;
    color: #ffffffaf;
    padding: 12px;
}

.time {
    padding: 12px;
    display: flex;
    flex-direction: row;
    color: #00FF88;
}

/* Host section */
.host-heading h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 40px;

}

.host-section {
    background-color: #1A0B2E;
}


.host-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0px 200px;

}

.alex-container {
    display: flex;
    gap: 24px;
    background-color: #2b0f50;
    border-radius: 20px;
}

.alex-container img {
    width: 100%;
    padding: 40px;
}

.host-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    justify-content: flex-start;
    align-items: flex-start;
}

.host-info h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 16px;
    padding-top: 48px;
}

.host-title {
    line-height: 24px;
    color: #ffffffb6;
    padding-bottom: 16px;
}

.links img {
    border: 1px solid #6e05f7;
    border-radius: 100%;
    padding: 10px;
}

/* Footer-SEction */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-heading {
    font-size: 3.5rem;
    /* font-weight: bold; */
    color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 32px;
}

.footer-gradient {
    background: linear-gradient(to top right, #f7e83f, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    color: transparent;
}

.footer-info ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    color: #ffffffb6;
    padding-bottom: 34px;
}

.footer-title {
    line-height: 24px;
    color: #ffffffbd;
    padding-bottom: 120px;
}

.footer {
    background: url(../assets/footer-bg.png);
    background-size: cover;

}


/* Responsive Design */
@media screen and (max-width:576px) {
    .nav-container {
        display: flex;
        justify-content: space-around;
    }

    .links {
        display: none;
    }

    .btn-1 {
        display: none;
    }

    .hamburger {
        display: block;
    }

    /* banner */

    .banner-container {
        /* width: 100%; */
        margin-left: auto;
    }

    .banner .banner-container img {
        max-width: 100%;
    }

    .banner {
        background-image: 100%;
    }

    .banner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .banner-heading {
        padding-left: 130px;
        font-size: 20px;
    }

    .banner-title {
        padding-left: 10px;
    }

    /* About-section */
    .about-card {
        grid-template-columns: repeat(2, 1fr);

    }

    .card-info {
        margin-bottom: 40px;
    }

    .about-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-title {
        padding-left: 20px;
    }

    .about-title hr {
        margin-right: 20px;
    }

    /* Card-section */
    .box-info {
        margin: 0;
        margin-bottom: 60px;
        grid-template-areas: "box-1"
            "box-2"
            "box-3"
            "box-4"
            "box-5"
        ;
    }

    .box-heading {
        font-size: 30px;
    }

    /* Video-section */
    .info-container {
        flex-direction: column;
    }

    .video-heading {
        /* font-size: 40px; */
    }

    .video-container {
        margin: auto;
    }

    .video-info {
        margin-bottom: 20px;
    }

    /* host section */
    .host-container {
        flex-direction: column;
        margin: 0;
    }

    .alex-container {
        flex-direction: column;
    }

    .host-info {
        justify-content: center;
        align-items: center;
    }

    /* Fotter section */
    .footer-heading {
        margin: none;
        padding: none;
        font-size: 20px;
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .footer-info ul {
        margin: 0px;
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        padding-bottom: 8px;

    }

    .footer-title {
        padding-bottom: 0px;
        margin: none;
    }


    .footer {
        background-size: contain;
        background-repeat: no-repeat;

    }


}